@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

header{
    z-index: 10001 !important;
}
/* efecto boton */
.btn-primary{
    @apply bg-brandPrimary text-white  py-2 px-4 transition-all duration-300 rounded hover:bg-neutralDGrey hover:-translate-y-2;
}

.card {
   @apply shadow cursor-pointer hover:-translate-y-5 hover:border-b-4 hover:border-indigo-700 transition-all duration-300
}

.cardBlog {
    @apply hover:scale-95 transition-all duration-300
}

.green {
    @apply hover:text-brandPrimary
}
